.button {
    margin-top: 4px;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: $text-color;
    &_main {
        margin-top: 65px;
        width: 305px;
        height: 55px;
        font-size: 16px;
        line-height: 25px;
    }
    &_submit {
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        height: 58px;
    }
}