.consultation {
    min-height: 100vh;
    padding: 120px 0 108px 0;
    background: url(../bg/bg2.jpg) center (center / cover) no-repeat;
    color: $text-color;
    &__subheader {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 8px;
    }
    .error {
        border: 1px solid $main-color;
    }
    label.error {
        border: none;
        text-align: center; 
        margin-top: 0;
        margin-bottom: 15px;

    }
}